* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-color01 {
    background-color: #4663c6;
}

.bg-color02 {
    background-color: #8d9fdb;
}